body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  background-color:  #f2f2f2;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  color: rgb(47, 47, 47);
}

.container {
  position: relative;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 50px;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);

  background-color: #ffffff;
}

.main-nav {
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  background-color: rgb(13, 13, 13);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.main-nav__list li {
  margin: 0;
  padding: 0;
}

.main-nav__list a {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 6px;

  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  color: rgb(175, 175, 175);
  
  fill: rgb(175, 175, 175);
}

.main-nav__list a:hover,
.main-nav__list a:active {
  color: rgb(94, 94, 94);
  fill: rgb(94, 94, 94);
}

.main-nav__list li:not(:last-child) {
  margin-right: 15px;
}

.main-header__wrapper {
  position: relative;
  height: 250px;
  background-image: url("../img/eua2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left center;
  background-color: rgb(13, 13, 13);
}

.intro {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  color: #f2f2f2;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}

.intro__desc {
  font-size: 10px;
  line-height: 16px;
}

.about {
  background-color: rgba(228, 228, 228, 0.4);
  padding: 20px;
}

.gallery {
  padding: 20px;
  background-color: rgba(228, 228, 228, 1);
}

.about__title,
.gallery__title {
  margin: 0;
  pading: 0;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.gallery__list {
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

  list-style: none;
}

.gallery__item {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  /*border: 1px solid red;*/
}

.gallery__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

.gallery__img {
  display: block;
  width: 100%;
  height: 200px;

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.gallery__img--leftside {
  background-position: left center;
}

.gallery__desc {
  padding-left: 10px;
  padding-right: 10px;
}

.gallery__desc {
  font-size: 14px;
  line-height: 18px;
}


.gallery__inner {
  margin: 0;
  padding: 0;

  margin-top: auto;

  display: flex;
  justify-content: space-between;
}

.btn-link {
  width: 49.5%;
  padding-top: 15px;
  padding-bottom: 12px;

  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: rgb(228, 228, 228);
  text-decoration: none;
  text-align: center;

  border: none;
  background-color: rgba(94, 94, 94, 0.8);
}

.btn-link.btn-link--alone {
  width: 100%;
}

.btn-link:hover,
.btn-link:active {
  background-color: rgba(47, 47, 47, 0.8);
}


.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 11px;
  
  color: rgb(175, 175, 175);
  background-color: rgb(47, 47, 47);
}

.copyright {
  margin: 0;
}

.social {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.social a {
  display: block;
  width: 24px;
  height: 24px;
  fill: rgb(175, 175, 175);
}

.social a:hover, 
.social a:active {
   fill: rgba(175, 175, 175, 0.5);
}

.social li:not(:last-child) {
  margin-right: 10px;
}


@media (min-width: 500px) {
  .main-header__wrapper {
    height: 330px;
  }

  .gallery__item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .main-footer,
  .main-nav {
    padding-left: 60px;
    padding-right: 60px;
  }

  .intro {
    top: 40px;
    left: 60px;
    font-size: 18px;
    line-height: 26px;
  }

  .intro__desc {
    font-size: 12px;
    line-height: 16px;
  }

  .main-header__wrapper {
    height: 400px;
    background-image: url("../img/eua3.jpg");
  }

  .main-nav__list a {
    font-size: 14px;
    line-height: 22px;
  }

  .about,
  .gallery {
    padding: 30px 60px;
  }
}

@media (min-width: 1000px) {
   .main-header__wrapper {
    height: 460px;
    background-position: left center;
  }

  .gallery__item {
    width: 33.3%
  }
}

@media (min-width: 1200px) {
  .main-footer,
  .main-nav {
    padding-left: 120px;
    padding-right: 120px;
  }

  .intro {
    left: 120px;
  }

  .about,
  .gallery {
    padding: 40px 120px;
  }
}
